# Secrets and Environment Variables
.env
.env.local
.env.*.local
*.dump
*.dump.enc
*.pacs.zip.enc
client_license_*.txt

# Volumes and Local Data
backups/
uploads/
license/
pacs-cold/
pacs-worklists/*.wl
!pacs-worklists/.gitkeep
